[submodule "lq-todoo/Easytek"]
	path = lq-todoo/Easytek
	url = git@github.com:lq-todoo/Easytek.git
	branch = confacturacion

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 13.0
