label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

.card {
    padding: 1rem;
}

.btn-custom {
    background: #3333CC;
    color: white;
    border-radius: 10px;
}

.col-form-label {
    font-weight: normal;
    color: #000066;
}

.modal-footer {
    border-top: 1px solid #eee;
}

.modal-header {
    border-bottom: 1px solid #eee;
}

#boton_aceptar {
    float: left;
}

#texto_modal {
    text-align: right;
}